<ion-content padding style="background-color: black">
  <h2 style="color: yellow">Directorio</h2>
  <input #nameInput type="text" placeholder="Nombre" />
  <input #lnameInput type="text" placeholder="Apellido" />
  <input #matriculaInput type="number" placeholder="matricula" />
  <input #correoInput type="email" placeholder="correo" />
  <input #DAMMInput type="number" placeholder="califDAMM" />
  <input #OCAInput type="number" placeholder="califOCA" />
  <input #MATEInput type="number" placeholder="califMATE" />
  <input #PMPInput type="number" placeholder="califPMP" />
  <input #M3DInput type="number" placeholder="califM3D" />
  <button
    style="color: blue"
    (click)="addItem(nameInput.value, lnameInput.value, matriculaInput.value, correoInput.value, DAMMInput.value, OCAInput.value, MATEInput.value, PMPInput.value, M3DInput.value); nameInput.value = '';  lnameInput.value=''; matriculaInput.value=''; correoInput.value=''; DAMMInput.value=''; OCAInput.value=''; MATEInput.value=''; PMPInput.value=''; M3DInput.value='';"
  >
    Agregar
  </button>

  <table
    border="1"
    style="margin-top: 20px; width: 100%; text-align: left; color: white"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Matricula</th>
        <th>Correo</th>
        <th>DAMM</th>
        <th>OCA</th>
        <th>MATE</th>
        <th>PMP</th>
        <th>M3D</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tasks$ | async">  
    <td>{{ item.id }}</td>
    <td><input type="text" [(ngModel)]="item.name" /></td>
    <td><input type="text" [(ngModel)]="item.lname" /></td>
    <td><input type="number" [(ngModel)]="item.matricula" /></td>
    <td><input type="text" [(ngModel)]="item.correo" /></td>
    <td><input type="number" [(ngModel)]="item.DAMM" /></td>
    <td><input type="number" [(ngModel)]="item.OCA" /></td>
    <td><input type="number" [(ngModel)]="item.MATE" /></td>
    <td><input type="number" [(ngModel)]="item.PMP" /></td>
    <td><input type="number" [(ngModel)]="item.M3D" /></td>
    <td>
      <button (click)="deleteItem(item.id!)"> Eliminar</button>
      <button (click)="editTask(item.id!, item.name, item.lname, item.matricula, item.correo, item.DAMM, item.OCA, item.MATE, item.PMP, item.M3D)">Guardar</button>

   
  </tr>
    </tbody>
  </table>
  <div>
    <button (click)="logout()">
      logout  
    </button>
  </div>
</ion-content>